.header-effect{
  opacity: 0;
  transform: translateY(500px);
  animation: slideDown 1s ease-out forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.txt {
  position: relative;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #fff 10%, rgb(160, 160, 194) 20%);
  background-repeat: no-repeat;
  background-size: 200%; /* Garantir que o gradiente se mova */
  animation: animate 6s linear forwards;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Inicialmente transparente */
}

@keyframes animate {
  0% {
    background-position: -200%; /* Início do gradiente fora do texto, à esquerda */
    -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Texto ainda invisível */
  }
  100% {
    background-position: 200%; /* Gradiente se move para a direita */
    -webkit-text-fill-color: #4d4d4d; /* Texto visível após a animação */
  }
}

/* Estilo para o botão ativo com borda em gradiente */
.active-link {
  border-bottom: 8px solid transparent; /* Necessário para aplicar o border-image */
  border-image: linear-gradient(to right, #c084fc , #84eafc ) 1; /* Gradiente da borda */
   /* Raio da borda inferior direita */
}

.wt {
  @apply bg-white text-slate-800;
  transition: all 0.7s ease-in-out;
}

.dk {
  @apply bg-black text-slate-300;
  transition: all 0.7s ease-in-out;
}
