<header
  class="font-poppins fixed top-0 w-full p-6 translate-y-[-100%] animate-[slideDown_0.5s_ease-out_forwards] header-effect text-gray-700 bg-white dark:bg-black"
>
  <nav class="mx-20 flex items-center">
    <!-- Nome à esquerda -->
    <div class="flex text-3xl  justify-start">
      <button
        (click)="navigateTo('/pages/home')"
        class="transition-transform duration-300 hover:scale-110 flex items-center gap-1"
      >
        <p class="text-lg font-semibold">{{ chave1 }}</p>
        <p
          class="text-5xl font-extrabold hover:text-transparent hover:bg-gradient-to-r hover:from-purpleCustom hover:to-blue-300 bg-clip-border hover:bg-clip-text transition-all duration-300"
        >
          DB
        </p>
        <p class="text-lg font-semibold">{{ chave2 }}</p>
      </button>
    </div>

    <div class="flex flex-row justify-center w-full">
      <!-- Menu de Navegação -->
      <ul
        class="flex gap-6 md:gap-32 text-gray-700 dark:text-white text-sm md:text-lg font-semibold"
      >
        <li
          *ngFor="let link of menuLinks"
          [ngClass]="{ 'active-link': isActive(link.routes) }"
          class="cursor-pointer"
        >
          <button
            (click)="navigateTo(link.routes[0])"
            class="hover:text-transparent hover:bg-gradient-to-r hover:from-purple-400 hover:to-blue-300 bg-clip-border hover:bg-clip-text transition-all duration-300"
          >
            {{ link.label }}
          </button>
        </li>
      </ul>
    </div>

    <div class="flex justify-end">
      <!-- Botão Modo Escuro/Claro -->
      <button class="items-center w-10 h-10" (click)="toggleDarkMode()">
        <span
          *ngIf="isDarkMode"
          class="material-symbols-outlined text-4xl text-white"
        >
          brightness_5
        </span>
        <span *ngIf="!isDarkMode" class="material-symbols-outlined text-4xl">
          dark_mode
        </span>
      </button>
    </div>
  </nav>
</header>
