<header @slideDown class="  font-poppins fixed top-0  w-full  p-6 translate-y-[-100%] animate-[slideDown_0.5s_ease-out_forwards] header-effect text-gray-700">
  <nav class="mx-40  flex items-center justify-between">
    <!-- Nome à esquerda -->
    <div class="text-3xl font-bold">Diego.</div>

    <!-- Itens do menu à direita -->
    <ul class="flex gap-8 text-gray-700 text-2xl">
      <li class="hover:text-blue-500 cursor-pointer">Início</li>
      <li class="hover:text-blue-500 cursor-pointer">Sobre</li>
      <li class="hover:text-blue-500 cursor-pointer">Projetos</li>
      <li class="hover:text-blue-500 cursor-pointer">Serviços</li>
      <li class="hover:text-blue-500 cursor-pointer">Contato</li>
    </ul>
  </nav>
</header>
