.logo1 {
  font-family: "Montserrat", sans-serif;
  @apply text-xl  sm:text-2xl font-bold;
}

/*=================logo Animation ====================*/
.ui-btn {
  @apply text-black dark:text-white;
  --btn-transition: 0.3s;
  --btn-animation-duration: 1.2s;
}
.ui-btn:hover span,
.ui-btn:focus span {
  color: #fac921;
}
.ui-btn span {
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}
.ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.ui-btn:hover span::before,
.ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: "#";
  }
  5% {
    content: ".";
  }
  10% {
    content: "^{";
  }
  15% {
    content: "-!";
  }
  20% {
    content: "#$_";
  }
  25% {
    content: "№:0";
  }
  30% {
    content: "#{+.";}35%{content: "@}-?";
  }
  40% {
    content: "?{4@%";
  }
  45% {
    content: "=.,^!";
  }
  50% {
    content: "?2@%";
  }
  55% {
    content: "\;1}]";
  }
  60% {
    content: "?{%:%";
    right: 0;
  }
  65% {
    content: "|{f[4";
    right: 0;
  }
  70% {
    content: "{4%0%";
    right: 0;
  }
  75% {
    content: "'1_0<";
    right: 0;
  }
  80% {
    content: "{0%";
    right: 0;
  }
  85% {
    content: "]>'";
    right: 0;
  }
  90% {
    content: "4";
    right: 0;
  }
  95% {
    content: "2";
    right: 0;
  }
  100% {
    content: "";
    right: 0;
  }
}
