<!--
<div
  class=" mx-10 my-10 px-40 pt-[-10rem] relative w-full min-h-screen max-w-screen overflow-x-hidden overflow-y-hidden font-poppins text-gray-600 dark:text-white bg-lightTheme dark:bg-darkTheme transition-colors duration-1000 ease-in-out"
>
  <div class="flex flex-row pt-32 justify-between items-center">
    <div class="flex flex-col relative w-full">

      <div class="relative mb-10">
        <img
          #imageToTop
          class="relative rounded-full max-h-40 max-w-40 bg-gradient-to-r from-purple-500 to-blue-400 p-1"
          [src]="me"
          alt="Minha foto de perfil"
        />
      </div>
      <p #nameToLeft class="text-6xl font-bold">Hi, my ​
        name is Diego.</p>
      <div class="flex flex-row gap-4 items-center">
        <p #nameToRight class="text-4xl text-gradient">
          Frontend developer
        </p>
        <img
        #angularToRight
        class=" max-h-11 max-w-11"
        [src]="angular"
        alt="Minha foto de perfil"
      />
      <img
        #typeToRight
        class=" max-h-8 max-w-8"
        [src]="typeScript"
        alt="Minha foto de perfil"
      />
      <img
        #jsToRight
        class=" max-h-8 max-w-8"
        [src]="javascript"
        alt="Minha foto de perfil"
      />
      </div>
      <div class="max-w-[54rem] mt-10 relative">
        <p
          #typpingText
          class="text-2xl font-extralight dark:text-gray-50 break-words"
        ></p>
      </div>
      <div #buttonsToTop class="mt-10 max-w-[54rem] flex flex-row gap-6 mb-20">
        <button (click)="downloadCV()"
          class="bg-gray-600 dark:bg-slate-800 px-6 py-4 text-white rounded-lg font-semibold text-lg btn-cv-download-slide"
        >
          <span
            class="hover:text-transparent hover:bg-gradient-to-r hover:from-purple-400 hover:to-blue-300 bg-clip-border hover:bg-clip-text transition-all duration-300"
            >Download CV</span
          >
        </button>

        <div #btnGit>
          <Button
            class="bg-slate-300 dark:bg-white text-gray-700 rounded-md px-4 py-3 font-semibold text-lg btn-git-slide"
          >
            <a href="https://github.com/BonfimDeveloper" target="_blank">
              <fa-icon
                [icon]="faGithub"
                class="text-3xl hover:text-purple-800"
              ></fa-icon> </a
          ></Button>
        </div>

        <div #btnLinkedin>
          <Button
            class="bg-slate-300 dark:bg-white text-gray-700 rounded-md px-4 py-3 font-semibold text-lg btn-linkedin-slide"
          >
            <a
              href="https://www.linkedin.com/in/diego-bonfim-8b24a421a/"
              target="_blank"
            >
              <fa-icon
                [icon]="faLinkedin"
                class="text-3xl hover:text-blue-600"
              ></fa-icon> </a
          ></Button>
        </div>

        <div #btnWhatsApp>
          <Button (click)="openWhatsApp()"
            class="bg-slate-300 dark:bg-white text-gray-700 rounded-md px-4 py-3 font-semibold text-lg btn-zap-slide"
          >
              <fa-icon
                [icon]="faWhatsapp"
                class="text-3xl hover:text-green-500"
              ></fa-icon>
          </Button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="flex flex-col font-poppins w-full justify-center items-center md:hidden pt-20 px-20"
>
  <div class="flex mb-4">
    <img
      class="relative rounded-full max-h-32 max-w-32 bg-gradient-to-r from-purple-500 to-blue-400 p-1"
      [src]="me"
      alt="Minha foto de perfil"
    />
  </div>
  <div class="flex">
    <p class="text-3xl font-bold">Diego Bonfim</p>
  </div>
  <div class="flex flex-row items-center ">
    <p class="text-xl text-gradient">Desenvolvedor Frontend</p>
  </div>

  <div class="flex w-32 justify-center break-words ">
    <p>
      coacnocnaocaocnoacnaocnaocna
      ocnoacnaoncaocnaocnaocnaonaocn
    </p>
  </div>

</div> -->

<div
  class="fixed mx-10 my-10 inset-0 bg-neutral-100 dark:bg-neutral-800 text-neutral-800 dark:text-neutral-100 transition-all duration-700 overflow-auto"
>
  <div class="hidden md:flex flex-row justify-center px-36">
    <div
      #imageToTop
      class="mt-60 w-auto max-w-[30rem] rounded-md h-auto max-h-[40rem] bg-[repeating-linear-gradient(45deg,_#525252_0px,_#525252_3px,_transparent_3px,_transparent_15px)] dark:bg-[repeating-linear-gradient(45deg,_#ffffff_0px,_#ffffff_3px,_transparent_3px,_transparent_15px)]"
    >
      <img
        class="rounded-lg w-[40rem] mask-image-radial ml-[6rem] pt-24 mb-10 transition-opacity duration-500 ease-in-out"
        [src]="!isHovered ? me1 : me2"
        alt="Minha foto de perfil"
        (mouseenter)="isHovered = true"
        (mouseleave)="isHovered = false"
      />
    </div>

    <div #nameToRight class="font-bitter flex flex-col mt-72 ml-32">
      <div>
        <p class="text-9xl">Hi, my ​</p>
        <p  class="text-9xl">
          name is Diego
        </p>
        <p class="text-2xl pt-5">
          I'm an
          <code
            class="font-extrabold bg-gradient-to-l from-blue-300 via-pink-100 to-purple-400 bg-clip-text text-transparent"
            >independent creative developer</code
          >
          from
        </p>
        <p class="text-2xl">Salvador, Bahia, Brazil.</p>
      </div>

      <div
        class="h-[1px] mt-10 w-full max-w-4xl bg-neutral-800 dark:bg-neutral-100"
      ></div>

      <div class="flex flex-row mt-10 items-center">
        <button
          class="icon-btn justify-start px-3 py-3 text-lg font-poppins font-bold rounded-md bg-neutral-600 dark:bg-neutral-100"
          (click)="downloadCV()"
        >
          <span
            class="bg-gradient-to-l from-blue-300 via-purple-300 to-purple-500 bg-clip-text text-transparent"
            >Download CV</span
          >
        </button>

        <div class="flex flex-1 gap-5 justify-end">
          <div #btnGit>
            <Button class="text-[#7a7a7a] rounded-md font-semibold icon-btn">
              <a href="https://github.com/BonfimDeveloper" target="_blank">
                <fa-icon
                  [icon]="faGithub"
                  class="text-3xl hover:text-black dark:hover:text-white"
                ></fa-icon> </a
            ></Button>
          </div>

          <div #btnLinkedin>
            <Button class="text-[#7a7a7a] rounded-md font-semibold icon-btn">
              <a
                href="https://www.linkedin.com/in/diego-bonfim-8b24a421a/"
                target="_blank"
              >
                <fa-icon
                  [icon]="faLinkedin"
                  class="text-3xl hover:text-black dark:hover:text-white"
                ></fa-icon> </a
            ></Button>
          </div>

          <div #btnWhatsApp>
            <Button
              (click)="openWhatsApp()"
              class="text-[#7a7a7a] rounded-md font-semibold icon-btn"
            >
              <fa-icon
                [icon]="faWhatsapp"
                class="text-3xl hover:text-black dark:hover:text-white"
              ></fa-icon>
            </Button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--###  MOBILE  ###-->
  <div class="flex md:hidden flex-col">
    <div
      class="flex justify-center mx-5 mt-32 sm:mt-40 w-auto max-w-40 rounded-md h-auto max-h-[30rem] relative grad-img"
    >
      <img
        class="rounded-full w-[14rem] mask-image-radial pt-1"
        [src]="me1mobile"
        alt="Minha foto de perfil"
      />
    </div>

    <div class="font-bitter flex flex-col mt-10 mx-5">
      <p class="text-6xl">Hi, my ​</p>
      <p class="text-6xl">name is <code class="file:font-bold">Diego</code></p>
      <p class="text-xl">
        I'm an
        <code
          class="font-extrabold bg-gradient-to-l from-blue-300 via-pink-100 to-purple-400 bg-clip-text text-transparent"
        >
          independent creative developer
        </code>
        from
      </p>
      <p class="text-xl">Salvador, Bahia, Brazil.</p>
    </div>
    <div class="mx-4 flex flex-row justify-around w-auto mt-20 min-gap-2 gap-5">
      <button
        class="px-4 py-4 text-lg font-poppins font-bold rounded-md bg-neutral-600 dark:bg-white"
      >
        <span
          class="bg-gradient-to-l from-blue-300 via-pink-100 to-purple-400 bg-clip-text text-transparent"
          >Download CV</span
        >
      </button>

      <Button class="font-poppins font-bold rounded-md"
        ><fa-icon [icon]="faGithub" class="text-4xl text-purple-500"></fa-icon
      ></Button>
      <Button class="font-poppins font-bold rounded-md"
        ><fa-icon [icon]="faLinkedin" class="text-4xl text-blue-500"></fa-icon
      ></Button>
      <Button class="font-poppins font-bold rounded-md"
        ><fa-icon [icon]="faWhatsapp" class="text-4xl text-green-500"></fa-icon
      ></Button>
    </div>
  </div>
</div>
