<div
  class="fixed mx-10 my-10 inset-0 bg-neutral-100 dark:bg-neutral-800 text-neutral-800 dark:text-neutral-100 transition-all duration-700 overflow-auto"
>
  <div class="hidden md:flex flex-row justify-center px-36">
    <div
      #imageToTop
      class="mt-60 w-auto max-w-[30rem] rounded-md h-auto max-h-[40rem] bg-[repeating-linear-gradient(45deg,_#525252_0px,_#525252_3px,_transparent_3px,_transparent_15px)] dark:bg-[repeating-linear-gradient(45deg,_#ffffff_0px,_#ffffff_3px,_transparent_3px,_transparent_15px)]"
    >
      <img
        class="rounded-lg w-[40rem] mask-image-radial ml-[6rem] pt-24 mb-10 transition-opacity duration-500 ease-in-out"
        [src]="!isHovered ? me1 : me2"
        alt="Minha foto de perfil"
        (mouseenter)="isHovered = true"
        (mouseleave)="isHovered = false"
      />
    </div>

    <div #nameToRight class="font-bitter flex flex-col mt-72 ml-32">
      <div>
        <p class="text-9xl">Hi, my ​</p>
        <p class="text-9xl">name is Diego</p>
        <p class="text-2xl pt-5">
          I'm an
          <code
            class="font-extrabold bg-gradient-to-l from-blue-300 via-pink-100 to-purple-400 bg-clip-text text-transparent"
            >independent creative developer</code
          >
          from
        </p>
        <p class="text-2xl">Salvador, Bahia, Brazil.</p>
      </div>

      <div
        class="h-[1px] mt-10 w-full max-w-4xl bg-neutral-800 dark:bg-neutral-100"
      ></div>

      <div class="flex flex-row mt-10 items-center">
        <button
          class="icon-btn justify-start px-3 py-3 text-lg font-poppins font-bold rounded-md bg-neutral-600 dark:bg-neutral-100"
          (click)="downloadCV()"
        >
          <span
            class="bg-gradient-to-l from-blue-300 via-purple-300 to-purple-500 bg-clip-text text-transparent"
            >Download CV</span
          >
        </button>

        <div class="flex flex-1 gap-5 justify-end">
          <div #btnGit>
            <Button class="text-[#7a7a7a] rounded-md font-semibold icon-btn">
              <a href="https://github.com/BonfimDeveloper" target="_blank">
                <fa-icon
                  [icon]="faGithub"
                  class="text-3xl hover:text-black dark:hover:text-white"
                ></fa-icon> </a
            ></Button>
          </div>

          <div #btnLinkedin>
            <Button class="text-[#7a7a7a] rounded-md font-semibold icon-btn">
              <a
                href="https://www.linkedin.com/in/diego-bonfim-8b24a421a/"
                target="_blank"
              >
                <fa-icon
                  [icon]="faLinkedin"
                  class="text-3xl hover:text-black dark:hover:text-white"
                ></fa-icon> </a
            ></Button>
          </div>

          <div #btnWhatsApp>
            <Button
              (click)="openWhatsApp()"
              class="text-[#7a7a7a] rounded-md font-semibold icon-btn"
            >
              <fa-icon
                [icon]="faWhatsapp"
                class="text-3xl hover:text-black dark:hover:text-white"
              ></fa-icon>
            </Button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--###  MOBILE  ###-->
  <div class="flex md:hidden flex-col">
    <div
      class="flex justify-center mx-5 mt-32 sm:mt-40 w-auto max-w-40 rounded-md h-auto max-h-[30rem] relative grad-img"
    >
      <img
        class="rounded-full w-[14rem] mask-image-radial pt-1"
        [src]="me1mobile"
        alt="Minha foto de perfil"
      />
    </div>

    <div class="font-bitter flex flex-col mt-10 mx-5">
      <p class="text-6xl">Hi, my ​</p>
      <p class="text-6xl">name is <code class="file:font-bold">Diego</code></p>
      <p class="text-xl">
        I'm an
        <code
          class="font-extrabold bg-gradient-to-l from-blue-300 via-pink-100 to-purple-400 bg-clip-text text-transparent"
        >
          independent creative developer
        </code>
        from
      </p>
      <p class="text-xl">Salvador, Bahia, Brazil.</p>
    </div>
    <div class="mx-4 flex flex-row justify-around w-auto mt-20 min-gap-2 gap-5">
      <button
        class="px-4 py-4 text-lg font-poppins font-bold rounded-md bg-neutral-600 dark:bg-white"
      >
        <span
          class="bg-gradient-to-l from-blue-300 via-pink-100 to-purple-400 bg-clip-text text-transparent"
          >Download CV</span
        >
      </button>

      <Button class="font-poppins font-bold rounded-md"
        ><fa-icon [icon]="faGithub" class="text-4xl text-purple-500"></fa-icon
      ></Button>
      <Button class="font-poppins font-bold rounded-md"
        ><fa-icon [icon]="faLinkedin" class="text-4xl text-blue-500"></fa-icon
      ></Button>
      <Button class="font-poppins font-bold rounded-md"
        ><fa-icon [icon]="faWhatsapp" class="text-4xl text-green-500"></fa-icon
      ></Button>
    </div>
  </div>

  <canvas
    #smokeCanvas
    class="fixed top-0 left-0 w-full h-full pointer-events-none"
  ></canvas>
</div>
