

.txt {
  position: relative;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #fff 10%, rgb(160, 160, 194) 20%);
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: txtAnimate 6s linear forwards;
}

@keyframes txtAnimate {
  0% {
    background-position: -200%;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-position: 200%;
    -webkit-text-fill-color: #4d4d4d;
  }
}


.text-gradient {
  font-weight: bold;
  font-size: 2rem;
  background-image: linear-gradient(90deg, #c084fc, #84eafc);

  background-size: 200%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 2s ease-in-out forwards;
}

@keyframes animate {
  0% {
    background-position: -200%;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-position: 200%;
    -webkit-text-fill-color: transparent;
  }
}

.slide-in-left {
  animation: slideInLeft 1s ease-out forwards;
  opacity: 0; /* Inicialmente invisível */
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%); /* Inicia fora da tela à esquerda */
    opacity: 0; /* Inicialmente invisível */
  }
  100% {
    transform: translateX(0); /* Move-se para a posição original */
    opacity: 1; /* Torna-se visível */
  }
}

.slide-in-right {
  animation: slideInRight 1s ease-out forwards;
  opacity: 0; /* Inicialmente invisível */
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%); /* Inicia fora da tela à direita */
    opacity: 0; /* Inicialmente invisível */
  }
  100% {
    transform: translateX(0); /* Move-se para a posição original */
    opacity: 1; /* Torna-se visível */
  }
}

.btn-cv-download-slide{
  opacity: 0;
  transform: translateY(50px);
  animation: slideUp 2.4s ease-out forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(5000px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-git-slide{
  opacity: 0;
  transform: translateY(50px);
  animation: slideUp2 2.6s ease-out forwards;
}

@keyframes slideUp2 {
  from {
    opacity: 0;
    transform: translateY(5000px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-linkedin-slide{
  opacity: 0;
  transform: translateY(50px);
  animation: slideUp3 2.8s ease-out forwards;
}

@keyframes slideUp3 {
  from {
    opacity: 0;
    transform: translateY(5000px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-zap-slide{
  opacity: 0;
  transform: translateY(50px);
  animation: slideUp4 3s ease-out forwards;
}

@keyframes slideUp4 {
  from {
    opacity: 0;
    transform: translateY(5000px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*
 #animatedIcon  {
  background-image: linear-gradient(90deg, #c084fc, #84eafc);
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
} */
