<div
  class="px-40 pt-[-10rem] pb-40 relative w-full min-h-screen max-w-screen overflow-x-hidden font-poppins text-gray-600 dark:text-white bg-white dark:bg-black transition-colors duration-1000 ease-in-out"
>
  <div class="flex flex-row pt-60 justify-between items-center">
    <div class="flex flex-col relative w-full">
      <div
        #t1
        class="absolute top-0 left-[14rem] w-[calc(100%-14rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t2
        class="absolute top-[1rem] left-[16rem] w-[calc(100%-16rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t3
        class="absolute top-[2rem] left-[18rem] w-[calc(100%-18rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t4
        class="absolute top-[3rem] left-[20rem] w-[calc(100%-20rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t5
        class="absolute top-[4rem] left-[22rem] w-[calc(100%-22rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t6
        class="absolute top-[5rem] left-[24rem] w-[calc(100%-24rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t7
        class="absolute top-[6rem] left-[26rem] w-[calc(100%-26rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t8
        class="absolute top-[7rem] left-[28rem] w-[calc(100%-28rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t9
        class="absolute top-[8rem] left-[30rem] w-[calc(100%-76rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t10
        class="absolute top-[9rem] left-[32rem] w-[calc(100%-76rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t11
        class="absolute top-[10rem] left-[34rem] w-[calc(100%-76rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t12
        class="absolute top-[11rem] left-[36rem] w-[calc(100%-76rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t13
        class="absolute top-[12rem] left-[38rem] w-[calc(100%-76rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t14
        class="absolute top-[13rem] left-[40rem] w-[calc(100%-76rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t15
        class="absolute top-[14rem] left-[42rem] w-[calc(100%-76rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t16
        class="absolute top-[15rem] left-[44rem] w-[calc(100%-76rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t17
        class="absolute top-[16rem] left-[46rem] w-[calc(100%-76rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t18
        class="absolute top-[17rem] left-[48rem] w-[calc(100%-76rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t19
        class="absolute top-[18rem] left-[50rem] w-[calc(100%-76rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t20
        class="absolute top-[19rem] left-[52rem] w-[calc(100%-76rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t21
        class="absolute top-[20rem] left-[54rem] w-[calc(100%-76rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t22
        class="absolute top-[21rem] left-[56rem] w-[calc(100%-76rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t23
        class="absolute top-[22rem] left-[58rem] w-[calc(100%-76rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t24
        class="absolute top-[23rem] left-[60rem] w-[calc(100%-76rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t25
        class="absolute top-[24rem] left-[62rem] w-[calc(100%-76rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t26
        class="absolute top-[25rem] left-[64rem] w-[calc(100%-76rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t27
        class="absolute top-[26rem] left-[66rem] w-[calc(100%-76rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>

      <div
        #t28
        class="absolute top-[27rem] left-[68rem] w-[calc(100%-76rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t29
        class="absolute top-[28rem] left-[66rem] w-[calc(100%-72rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t30
        class="absolute top-[29rem] left-[64rem] w-[calc(100%-68rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t31
        class="absolute top-[30rem] left-[62rem] w-[calc(100%-64rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t32
        class="absolute top-[31rem] left-[60rem] w-[calc(100%-60rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t33
        class="absolute top-[32rem] left-[58rem] w-[calc(100%-60rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t34
        class="absolute top-[33rem] left-[56rem] w-[calc(100%-60rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t35
        class="absolute top-[34rem] left-[54rem] w-[calc(100%-60rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t36
        class="absolute top-[35rem] left-[52rem] w-[calc(100%-60rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t37
        class="absolute top-[36rem] left-[50rem] w-[calc(100%-60rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t38
        class="absolute top-[37rem] left-[48rem] w-[calc(100%-60rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t39
        class="absolute top-[38rem] left-[46rem] w-[calc(100%-60rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t40
        #wave
        class="absolute top-[39rem] left-[44rem] w-[calc(100%-60rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t41
        #wave
        class="absolute top-[40rem] left-[42rem] w-[calc(100%-60rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t42
        #wave
        class="absolute top-[41rem] left-[40rem] w-[calc(100%-60rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div
        #t43
        #wave
        class="absolute top-[42rem] left-[38rem] w-[calc(100%-60rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>

      <img
        #angularToRight
        class="absolute top-[17rem] left-[26rem] max-h-11 max-w-11"
        [src]="angular"
        alt="Minha foto de perfil"
      />
      <img
        #typeToRight
        class="absolute top-[17.3rem] left-[29rem] max-h-8 max-w-8"
        [src]="typeScript"
        alt="Minha foto de perfil"
      />
      <img
        #jsToRight
        class="absolute top-[17.3rem] left-[32rem] max-h-8 max-w-8"
        [src]="javascript"
        alt="Minha foto de perfil"
      />
      <div class="hidden">


      <div #t44
        class="absolute top-[8rem] left-[70rem] w-[calc(100%-70rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div #t45
        class="absolute top-[9rem] left-[72rem] w-[calc(100%-72rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div #t46
        class="absolute top-[10rem] left-[74rem] w-[calc(100%-74rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div #t47
        class="absolute top-[11rem] left-[76rem] w-[calc(100%-76rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div #t48
        class="absolute top-[12rem] left-[78rem] w-[calc(100%-78rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div #t49
        class="absolute top-[13rem] left-[80rem] w-[calc(100%-80rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div #t50
        class="absolute top-[14rem] left-[82rem] w-[calc(100%-82rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div #t51
        class="absolute top-[15rem] left-[84rem] w-[calc(100%-84rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div #t52
        class="absolute top-[16rem] left-[86rem] w-[calc(100%-86rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div #t53
        class="absolute top-[17rem] left-[88rem] w-[calc(100%-88rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div #t54
        class="absolute top-[18rem] left-[90rem] w-[calc(100%-90rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div #t55
        class="absolute top-[19rem] left-[92rem] w-[calc(100%-92rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      </div>


      <div class="hidden">
      <div #t56
        class="absolute top-[37rem] left-[92rem] w-[calc(100%-92rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div #t57
        class="absolute top-[38rem] left-[90rem] w-[calc(100%-90rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div #t58
        class="absolute top-[39rem] left-[88rem] w-[calc(100%-88rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div #t59
        class="absolute top-[40rem] left-[86rem] w-[calc(100%-86rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div #t60
        class="absolute top-[41rem] left-[84rem] w-[calc(100%-84rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
      <div #t61
        class="absolute top-[42rem] left-[82rem] w-[calc(100%-82rem)] max-w-full h-[1px] bg-gradient-to-r from-purple-500 to-blue-400"
      ></div>
    </div>

      <!-- <div class="absolute top-10 left-[-20px] h-24 w-1 bg-gradient-to-b from-purple-500 to-blue-400"></div> -->
      <div class="relative mb-10">
        <img
          #imageToTop
          class="relative rounded-full max-h-40 max-w-40 bg-gradient-to-r from-purple-500 to-blue-400 p-1"
          [src]="me"
          alt="Minha foto de perfil"
        />
      </div>
      <p #nameToLeft class="text-6xl font-bold">Diego Bonfim</p>
      <div class="flex flex-row gap-4 items-center">
        <p #nameToRight class="text-4xl text-gradient">
          Desenvolvedor Frontend
        </p>
      </div>
      <div class="max-w-[54rem] mt-10 relative">
        <p
          #typpingText
          class="text-2xl font-extralight dark:text-gray-50 break-words"
        ></p>
      </div>
      <div #buttonsToTop class="mt-10 max-w-[54rem] flex flex-row gap-6 mb-20">
        <button
          class="bg-gray-600 dark:bg-slate-800 px-6 py-4 text-white rounded-lg font-semibold text-lg btn-cv-download-slide"
        >
          <span
            class="hover:text-transparent hover:bg-gradient-to-r hover:from-purple-400 hover:to-blue-300 bg-clip-border hover:bg-clip-text transition-all duration-300"
            >Download CV</span
          >
        </button>

        <div #btnGit>
          <Button
            class="bg-slate-300 dark:bg-white text-gray-700 rounded-md px-4 py-3 font-semibold text-lg btn-git-slide"
          >
            <a href="https://github.com/BonfimDeveloper" target="_blank">
              <fa-icon
                [icon]="faGithub"
                class="text-3xl hover:text-purple-800"
              ></fa-icon> </a
          ></Button>
        </div>

        <div #btnLinkedin>
          <Button
            class="bg-slate-300 dark:bg-white text-gray-700 rounded-md px-4 py-3 font-semibold text-lg btn-linkedin-slide"
          >
            <a
              href="https://www.linkedin.com/in/diego-bonfim-8b24a421a/"
              target="_blank"
            >
              <fa-icon
                [icon]="faLinkedin"
                class="text-3xl hover:text-blue-600"
              ></fa-icon> </a
          ></Button>
        </div>

        <div #btnWhatsApp>
          <Button
            class="bg-slate-300 dark:bg-white text-gray-700 rounded-md px-4 py-3 font-semibold text-lg btn-zap-slide"
          >
            <a href="https://wa.me/seunumerodetelefone" target="_blank">
              <fa-icon
                [icon]="faWhatsapp"
                class="text-3xl hover:text-green-500"
              ></fa-icon> </a
          ></Button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex md:hidden">
OLA
</div>
