

<span [ngClass]="{ dk: isDarkMode, wt: !isDarkMode }" class="show-slowly ">
  <mat-toolbar   >
    <div class="flex md:hidden">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <span class="material-symbols-outlined text-4xl"> list </span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>Home</span>
        </button>
        <button mat-menu-item disabled>
          <span>About</span>
        </button>
        <button mat-menu-item>
          <span>Contact</span>
        </button>
        <button mat-menu-item>
          <span> Team</span>
        </button>
      </mat-menu>
    </div>
    <div class="hidden md:flex flex-row w-auto h-auto gap-20">
      <div>
        <span>MyApp</span>
      </div>
      <div class="flex flex-row w-auto h-auto gap-20">
        <button>Home</button>
         <button>About</button>
        <button>Contact</button>
        <button>Resources</button>
        <button>Team</button>
      </div>
    </div>

    <span class="example-spacer"></span>

    <div >
      <button
        class="flex w-auto h-auto justify-center items-center"
        (click)="toggleDarkMode()"
      >
        <span
          *ngIf="isDarkMode"
          class="material-symbols-outlined text-4xl text-white"
        >
        <span class="material-symbols-outlined  text-4xl">
          brightness_5
          </span>
        </span>
        <span *ngIf="!isDarkMode" class="material-symbols-outlined text-4xl">
          dark_mode
        </span>
      </button>
    </div>
  </mat-toolbar>
  <div  [ngClass]="{ dk: isDarkMode, wt: !isDarkMode }" class="w-full h-full ">
    <div class="flex h-full w-full justify-center items-center">
      <button class="bg-black text-white p-2 rounded" (click)="openModal()">
        Open Modal
      </button>
    </div>
  </div>

</span>





<!-- <div class="w-full h-full" >
        <img  [src]="imgFrontEnd" alt="Logo MyPort" />
      </div> -->
