<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
  <div *ngIf="dataContent" >
    <!-- <p>{{ dataContent }}</p> -->
    <img *ngIf="dataContent" [src]="dataContent" alt="Imagem" class="max-w-full max-h-[70vh] rounded-lg shadow-lg" />
    <!-- <ng-content></ng-content> -->
  </div>
  <ng-content></ng-content>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onConfirm()">Confirm</button>
</mat-dialog-actions>
