<app-rota-ativa
  [actualRoute]="rotaAtual"
  [backPage]="voltarPagina.bind(this)"
  [nextPage]="avancarPagina.bind(this)"
></app-rota-ativa>

<div
  class="bg-neutral-100 dark:bg-neutral-800 text-neutral-800 dark:text-neutral-100 transition-all duration-700 font-archivo overflow-x-hidden"
>
  <section
    class="flex justify-center items-center px-40 w-full min-w-screen h-[100vh] snap-start"
  >
    <!--DESKTOP A PARTIR DE lg-->
    <div
      class="flex flex-col justify-center items-center w-[100vw] max-w-[1850px] h-full space-y-10 relative"
    >
      <div class="flex flex-row justify-between items-end w-full">
        <span class="lg:text-[1rem] xl:text-[2rem]"
          >D E S E N V O L V E D O R</span
        >
        <span class="flex flex-col space-y-[-15px]">
          <div class="flex flex-row justify-center items-center w-full gap-4">
            <span
              class="md:text-md lg:text-lg font-extralight flex gap-1 justify-center mt-2"
            >
              <span class="animate-custom-bounce">S</span>
              <span class="animate-custom-bounce" style="animation-delay: 0.1s"
                >C</span
              >
              <span class="animate-custom-bounce" style="animation-delay: 0.2s"
                >R</span
              >
              <span class="animate-custom-bounce" style="animation-delay: 0.3s"
                >O</span
              >
              <span class="animate-custom-bounce" style="animation-delay: 0.4s"
                >L</span
              >
              <span class="animate-custom-bounce" style="animation-delay: 0.5s"
                >L</span
              >
            </span>
            <span>
              <svg
                class="w-8 h-6 mt-2 animate-custom-bounce"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                style="animation-delay: 0.6s"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 5l7 7-7 7"
                />
              </svg>
            </span>
          </div>
        </span>
      </div>
      <div class="relative flex flex-col w-full md:pt-4 lg:pt-5 xl:pt-14">
        <p class="lg:text-[8.5rem] xl:text-[13.5rem] bege-animado">FRONT END</p>
        <div class="flex flex-row justify-between w-full lg:pt-20 xl:pt-32">
          <p
            class="lg:w-[300px] xl:w-[400px] font-light font-poppins lg:text-md xl:text-lg"
          >
            Olá, meu nome é Diego,Tenho 32 anos e sou natural de
            <strong>Salvador, Bahia</strong>, uma das cidades mais bonitas do
            Brasil. <br />
            Meu lugar favorito sempre foi praia, amo natureza e prefiro
            frequentar ambientes abertos e simples. <br />
            "Odeio shopping!"
          </p>
          <p
            class="lg:w-[300px] xl:w-[400px] font-light font-poppins lg:text-md xl:text-lg"
          >
            Sou graduado em
            <strong>Análise e Desenvolvimento de Sistemas</strong> pela
            <strong>Faculdade Descomplica</strong> e atualmente curso uma
            pós-graduação em <strong>Engenharia de Software</strong> na mesma
            instituição. <br />
            Desenvolvedor full-stack com experiência em projetos voltados para o
            setor público e privado.
          </p>
        </div>
      </div>
      <div class="absolute">
        <div class="w-full flex justify-center items-center">
          <img
            [src]="me1mobile"
            alt="Foto de Diego Bonfim"
            class="rounded-b-full lg:max-w-[400px] lg:max-h-[400px] xl:max-w-[600px] xl:max-h-[600px] object-cover"
          />
        </div>
      </div>
    </div>
  </section>

  <!--####################################### HARDSKILLS #######################################-->
  <section
    class="flex flex-row justify-center items-center px-40 py-20 bg-white dark:bg-black w-[100vw] min-w-screen h-[100vh] snap-start"
  >
    <div class="flex-1 flex flex-col h-full space-y-5">
      <p class="text-[8rem] bege-animado"
        >H A R D</p
      >
      <p class=" text-[8rem] bege-animado"
        >S K I L L S</p
      >
    </div>
    <div></div>
  </section>
  <section
    class="flex flex-col justify-start items-center px-5 md:px-30 lg:px-60 bg-neutral-100 dark:bg-neutral-800 pt-20 pb-20 w-full min-w-screen h-[100vh] snap-start"
  >
    <div
      class="flex flex-row justify-center items-center w-[100vw] gap-4 mb-20"
    >
      <span
        class="text-3xl sm:text-4xl md:text-6xl lg:text-8xl 2xl:text-9xl font-bold bg-gradient-to-l from-blue-300 via-pink-100 to-purple-400 bg-clip-text text-transparent"
        >Soft Skills</span
      >
    </div>
  </section>

  <section
    class="flex flex-col justify-center items-center w-full min-w-screen h-[100vh] snap-startsnap-start px-5 md:px-30 lg:px-60 bg-white dark:bg-black pt-20 pb-20"
  >
    <div class="flex w-full flex-row justify-center items-center gap-4 mb-20">
      <span
        class="text-3xl sm:text-4xl md:text-6xl lg:text-8xl 2xl:text-9xl font-bold bg-gradient-to-l from-blue-300 via-pink-100 to-purple-400 bg-clip-text text-transparent"
        >Experiência Profissional</span
      >
      <div class="flex flex-row justify-center items-center w-full">
        <div
          class="h-[1px] w-full max-w-4xl bg-neutral-300 dark:bg-neutral-100"
        ></div>
        <div
          class="w-3 h-3 rounded-full bg-neutral-300 dark:bg-neutral-100"
        ></div>
      </div>
    </div>
  </section>

  <section
    class="flex flex-col justify-center items-center px-5 md:px-60 mt-20 w-screen min-w-screen h-[100vh] snap-start"
  >
    <div class="flex w-full flex-row justify-center items-center gap-4 mb-5">
      <div class="flex flex-row justify-center items-center w-full">
        <div
          class="w-3 h-3 rounded-full bg-neutral-300 dark:bg-neutral-100"
        ></div>
        <div
          class="h-[1px] w-full max-w-4xl bg-neutral-300 dark:bg-neutral-100"
        ></div>
      </div>
      <span
        class="text-3xl sm:text-4xl md:text-6xl lg:text-8xl 2xl:text-9xl font-bold bg-gradient-to-l from-blue-300 via-pink-100 to-purple-400 bg-clip-text text-transparent"
        >Certificações e Cursos</span
      >
    </div>
  </section>
</div>
