<app-rota-ativa
  [actualRoute]="rotaAtual"
  [backPage]="voltarPagina.bind(this)"
  [nextPage]="avancarPagina.bind(this)"
></app-rota-ativa>

<div
  class="bg-neutral-100 dark:bg-neutral-800 text-neutral-800 dark:text-neutral-100 transition-all duration-700 font-archivo overflow-x-hidden"
>
  <section
    class="flex justify-center items-center px-40 w-full min-w-screen h-[100vh] snap-start border-[40px] border-black dark:border-white"
  >
    <!--DESKTOP A PARTIR DE lg-->
    <div
      class="flex flex-col justify-center items-center w-[100vw] max-w-[1850px] h-full space-y-10 relative"
    >
      <div class="flex flex-row justify-between items-end w-full">
        <span class="lg:text-[1rem] xl:text-[2rem]"
          >D E S E N V O L V E D O R</span
        >
        <span class="flex flex-col space-y-[-15px]"> </span>
      </div>
      <div class="relative flex flex-col w-full md:pt-4 lg:pt-5 xl:pt-14">
        <p class="lg:text-[8.5rem] xl:text-[13.5rem] bege-animado">FRONT END</p>
        <div class="flex flex-row justify-between w-full lg:pt-20 xl:pt-32">
          <p
            class="lg:w-[300px] xl:w-[400px] font-light font-poppins lg:text-md xl:text-lg text-justify"
          >
            Olá, meu nome é Diego, tenho 32 anos e sou natural de
            <strong>Salvador, Bahia</strong>, uma das cidades mais bonitas do
            Brasil. <br />
            Meu lugar favorito sempre foi praia, amo natureza e prefiro
            frequentar ambientes abertos e simples.
          </p>
          <p
            class="lg:w-[300px] xl:w-[400px] font-light font-poppins lg:text-md xl:text-lg text-justify"
          >
            Sou graduado em
            <strong>Análise e Desenvolvimento de Sistemas</strong> pela
            <strong>Faculdade Descomplica</strong> e atualmente curso uma
            pós-graduação em <strong>Engenharia de Software</strong> na mesma
            instituição. <br />
            Desenvolvedor full-stack com experiência em projetos voltados para o
            setor público e privado.
          </p>
        </div>
      </div>
      <div class="absolute">
        <div class="w-full flex justify-center items-center">
          <img
            [src]="me1mobile"
            alt="Foto de Diego Bonfim"
            class="rounded-b-full lg:max-w-[400px] lg:max-h-[400px] xl:max-w-[600px] xl:max-h-[600px] object-cover"
          />
        </div>
      </div>

      <div class="flex flex-col justify-center items-end w-full gap-0">
        <div class="flex flex-col items-center">
          <span
            class="md:text-md lg:text-lg font-extralight flex gap-1 justify-center mt-2"
          >
            <span class="animate-custom-bounce">S</span>
            <span class="animate-custom-bounce" style="animation-delay: 0.1s"
              >C</span
            >
            <span class="animate-custom-bounce" style="animation-delay: 0.2s"
              >R</span
            >
            <span class="animate-custom-bounce" style="animation-delay: 0.3s"
              >O</span
            >
            <span class="animate-custom-bounce" style="animation-delay: 0.4s"
              >L</span
            >
            <span class="animate-custom-bounce" style="animation-delay: 0.5s"
              >L</span
            >
          </span>
          <span>
            <svg
              class="w-10 h-8 mt-0 animate-custom-bounce"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              style="animation-delay: 0.6s"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 9l7 7 7-7"
              />
            </svg>
          </span>
        </div>
      </div>
    </div>
  </section>

  <!--####################################### HARDSKILLS   #######################################-->
  <section
    class="flex flex-row justify-center items-center px-28 py-14 bg-white dark:bg-black w-[100vw] min-w-screen h-[100vh] snap-start"
  >
    <div
      class="w-full h-full justify-center items-center flex flex-col gap-20 pr-10 pl-10 pt-4 pb-10 z-10"
    >
      <div class="w-full flex justify-between items-center container p-14">
        <p class="text-[8rem] bege-animado z-10 text-white">H A R D</p>
        <div class="flex flex-row gap-4 z-10">
          <p class="h-3 w-3 bg-white z-10"></p>
          <p class="h-3 w-3 bg-white rounded-full z-10"></p>
          <p class="h-3 w-3 bg-white z-10"></p>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row gap-10 justify-between px-14">
        <div
          class="w-20 h-20 bg-[#2D2A4A] rounded-lg flex items-center justify-center border-4 border-yellow-300 mat-elevation-z10"
        >
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
            alt="JavaScript"
            class="w-10 h-10"
          />
        </div>
        <div
          class="w-20 h-20 bg-[#2D2A4A] rounded-lg flex items-center justify-center border-4 border-blue-600 mat-elevation-z10"
        >
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
            alt="TypeScript"
            class="w-10 h-10"
          />
        </div>
        <div
          class="w-20 h-20 bg-[#2D2A4A] rounded-lg flex items-center justify-center border-4 border-orange-600 mat-elevation-z10"
        >
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
            alt="HTML5"
            class="w-10 h-10"
          />
        </div>

        <div
          class="w-20 h-20 bg-[#2D2A4A] rounded-lg flex items-center justify-center border-4 border-blue-400 mat-elevation-z10"
        >
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
            alt="CSS3"
            class="w-10 h-10"
          />
        </div>
        <div
          class="w-20 h-20 bg-[#2D2A4A] rounded-lg flex items-center justify-center border-4 border-red-600 mat-elevation-z10"
        >
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
            alt="Angular"
            class="w-10 h-10"
          />
        </div>

        <div
          class="w-20 h-20 bg-[#2D2A4A] rounded-lg flex items-center justify-center border-4 border-sky-300 mat-elevation-z10"
        >
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
            alt="React"
            class="w-10 h-10"
          />
        </div>

        <div
          class="w-20 h-20 bg-[#2D2A4A] rounded-lg flex items-center justify-center border-4 border-green-600 mat-elevation-z10"
        >
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
            alt="Node.js"
            class="w-10 h-10"
          />
        </div>
      </div>
      <div class="flex flex-col lg:flex-row gap-10 justify-between px-14">
        <div
          class="w-20 h-20 bg-[#2D2A4A] rounded-lg flex items-center justify-center border-4 border-orange-300 mat-elevation-z10"
        >
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"
            alt="Git"
            class="w-10 h-10"
          />
        </div>
        <div
          class="w-20 h-20 bg-[#2D2A4A] rounded-lg flex items-center justify-center border-4 border-cyan-600 mat-elevation-z10"
        >
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg"
            alt="Figma"
            class="w-10 h-10"
          />
        </div>

        <div
          class="w-20 h-20 bg-[#2D2A4A] rounded-lg flex items-center justify-center border-4 border-teal-400 mat-elevation-z10"
        >
          <img
            src="https://www.svgrepo.com/show/374118/tailwind.svg"
            alt="Tailwind CSS"
            class="w-10 h-10"
          />
        </div>
        <div
          class="w-20 h-20 bg-[#2d2a52] rounded-lg flex items-center justify-center border-4 border-purple-700 mat-elevation-z10"
        >
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Bootstrap_logo.svg"
            alt="Bootstrap"
            class="w-10 h-10"
          />
        </div>
        <div
          class="w-20 h-20 bg-[#2d2a52] rounded-lg flex items-center justify-center border-4 border-purple-900 mat-elevation-z10"
        >
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/redux/redux-original.svg"
            alt="Redux"
            class="w-10 h-10"
          />
        </div>

        <!-- RxJS -->
        <div
          class="w-20 h-20 bg-[#2d2a52] rounded-lg flex items-center justify-center border-4 border-pink-600 mat-elevation-z10"
        >
          <img
            src="https://rxjs.dev/generated/images/marketing/home/Rx_Logo-512-512.png"
            alt="RxJS"
            class="w-10 h-10"
          />
        </div>
        <div
          class="w-20 h-20 bg-[#2d2a52] rounded-lg flex items-center justify-center border-4 border-fuchsia-700 mat-elevation-z10"
        >
          <img
            src="https://www.svgrepo.com/show/353922/jasmine.svg"
            alt="Jasmine"
            class="w-10 h-10"
          />
        </div>
      </div>
      <div class="w-full flex justify-between items-center container p-14">
        <div class="flex flex-row gap-4">
          <p class="h-3 w-3 bg-white z-10"></p>
          <p class="h-3 w-3 bg-white z-10 rounded-full"></p>
          <p class="h-3 w-3 bg-white z-10"></p>
        </div>
        <p class="text-[8rem] bege-animado z-10 text-white">S K I L L S</p>
      </div>
    </div>
  </section>

  <section
    class="flex flex-col justify-center items-center px-40 bg-neutral-100 dark:bg-neutral-800 w-full min-w-screen h-[100vh] snap-start border-[40px] border-black dark:border-white"
  >
    <div
      class="w-full h-full flex flex-col justify-center items-center relative mt-40"
    >
      <div class="w-full flex flex-row justify-between items-center">
        <div
          class="w-[10rem] h-[6rem] border-t-8 border-l-8 border-black dark:border-white"
        ></div>
        <div
          class="w-[10rem] h-[6rem] border-t-8 border-r-8 border-black dark:border-white hover:border-t-purple-400 hover:border-r-purple-400 transition-all duration-500"
        ></div>
      </div>
      <div class="flex flex-row justify-center items-center px-14 w-full">
        <div
          class="w-full h-full flex flex-col lg:gap-24 xl:gap-28 justify-center items-center"
        >
          <p
            class="lg:text-[10rem] xl:text-[12rem] bege-animado text-black dark:text-white"
          >
            S O F T
          </p>
          <p
            class="lg:text-[9rem] xl:text-[12rem] bege-animado text-black dark:text-white"
          >
            S K I L L S
          </p>
        </div>
        <img
          class="w-[30rem] mask-image-radial transition-opacity duration-500 top-[-10rem] ease-in-out absolute"
          [src]="!isHovered ? idea1 : idea2"
          alt="Foto de cérebro com lampada"
          (mouseenter)="isHovered = true"
          (mouseleave)="isHovered = false"
        />
      </div>

      <div class="w-full flex flex-row justify-between items-center mt-4">
        <div
          class="w-[10rem] h-[6rem] border-b-8 border-l-8 border-black dark:border-white"
        ></div>
        <div
          class="w-[10rem] h-[6rem] border-b-8 border-r-8 border-black dark:border-white"
        ></div>
      </div>

      <div class="marquee-container mt-10">
        <div
          class="marquee-content text-black dark:text-white italic font-semibold text-xl"
        >
          <p>Comunicação assertiva</p>
          <div class="h-2 w-2 bg-black dark:bg-white rounded-full"></div>

          <p>Pensamento crítico</p>
          <div class="h-2 w-2 bg-black dark:bg-white rounded-full"></div>

          <p>Iniciativa</p>
          <div class="h-2 w-2 bg-black dark:bg-white rounded-full"></div>

          <p>Adaptação rápida</p>
          <div class="h-2 w-2 bg-black dark:bg-white rounded-full"></div>

          <p>Trabalho em equipe</p>
          <div class="h-2 w-2 bg-black dark:bg-white rounded-full"></div>

          <p>Criatividade</p>
          <div class="h-2 w-2 bg-black dark:bg-white rounded-full"></div>

          <p>Análise de dados</p>
          <div class="h-2 w-2 bg-black dark:bg-white rounded-full"></div>

          <p>Senso de urgência</p>
        </div>
      </div>
    </div>
  </section>
  <section
    class="flex flex-row justify-center items-center px-40 py-14 bg-white dark:bg-black w-[100vw] min-w-screen h-[100vh] snap-start"
  >
    <div
      class="w-full h-full justify-center items-center flex flex-row gap-0 pr-10 pl-10 pt-4 pb-10 z-10"
    >
      <div
        class="w-full flex flex-col justify-between items-center container py-20"
      >
        <p
          class="h-20 w-20 bg-white z-10"
          style="clip-path: polygon(50% 0%, 0% 100%, 100% 100%)"
        ></p>

        <p class="text-[12rem] bege-animado z-10 text-white">XP</p>
        <p
          class="h-20 w-20 bg-white z-10"
          style="clip-path: polygon(0% 0%, 100% 0%, 50% 100%)"
        ></p>
      </div>
      <div class="flex flex-col justify-center px-20 py-2 font-poppins h-full">
        <div class="flex justify-end">
          <img
            [src]="serpro"
            alt="Foto da logo do serpro"
            class="shadow-lg max-w-[100px] max-h-[100px] object-cover"
          />
        </div>
        <div class="flex flex-row justify-between items-center mb-2">
          <p class="text-2xl font-semibold">
            Estagiário em Desenvolvimento de Software
          </p>
          <span class="text-sm">Serpro · Abril 2023 – Abril 2025</span>
        </div>
        <p class="text-lg text-justify">
          O Serpro foi minha primeira experiência formal, onde pude atuar com
          tecnologias como Angular, Java, Spring, Docker, Node, Oracle, Mongo,
          Git, Copilot, etc. Os testes unitários no frontend eram desenvolvidos
          em Jasmine e karma e no backend em JUnit além de análise de qualidade
          com SonarQube. Participação em projetos de grande escala com
          metodologias ágeis, daily, plannings, etc.
        </p>

        <p class="text-lg text-justify">
          Basicamente, atuei com a manutenção de sistemas legados e criação de
          novas funcionalidades. Com certeza foi um privilégio ser selecionado
          para a vaga de estágio, tive contato com profissionais excelentes e
          aprendi muito.
        </p>
        <span class="pt-4 text-sm text-gray-500"> Obrigado Serpro! </span>
        <div class="w-full h-[1px] bg-black dark:bg-white mt-2"></div>
        <div class="flex flex-row justify-between text-lg mt-10">
          <button
            matTooltip="Baixar relatório de estágio do 1º período"
            class="icon-btn justify-start px-3 py-3 text-lg font-poppins font-bold rounded-md bg-black dark:bg-white"
            (click)="downloadRelatorio1()"
          >
            <span
              class="bg-gradient-to-l from-blue-300 via-purple-300 to-purple-500 bg-clip-text text-transparent"
              >Baixar 1º relatório</span
            >
          </button>

          <button
            matTooltip="Baixar relatório de estágio do 2º período"
            class="icon-btn justify-start px-3 py-3 text-lg font-poppins font-bold rounded-md bg-black dark:bg-white"
            (click)="downloadRelatorio2()"
          >
            <span
              class="bg-gradient-to-l from-blue-300 via-purple-300 to-purple-500 bg-clip-text text-transparent"
              >Baixar 2º relatório</span
            >
          </button>
        </div>
      </div>
    </div>
  </section>

  <section
    class="flex flex-col justify-center  bg-neutral-100 dark:bg-neutral-800 w-full min-w-screen h-[100vh] snap-start border-[40px] border-black dark:border-white"
  >
    <div class="w-full flex  flex-row justify-center items-center ">
      <div class="w-full hfull flex justify-center">
        <img
          class="w-[40rem] mask-image-radial"
          [src]="cert"
          alt="Foto de certificado"
        />
      </div>
      <div class="w-full h-full ">
        <mat-stepper class="meu-stepper" [linear]="isLinear" #stepper>
          <mat-step [stepControl]="firstFormGroup">
            <ng-template class="mat-step-label" matStepLabel
              >Java</ng-template
            >

            <div>
              <button matStepperNext class="bg-black text-white p-2">
                Next
              </button>
            </div>
          </mat-step>
          <mat-step
            [stepControl]="secondFormGroup"
            label="Angular"
          >
            <div>
              <button matStepperPrevious>Back</button>
              <button matStepperNext>Next</button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
              <button matStepperPrevious>Back</button>
              <button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
  </section>
</div>
