
<div
  class="mt-10 w-full bg-transparent hidden lg:flex flex-row justify-center items-center z-30"
>
  <div class="arrow  flex flex-row items-center gap-10 justify-center z-30">
      <span (click)="backPage()" class="material-symbols-outlined">
        skip_previous
        </span>

      <span
        class="font-ligth font-poppins text-lg text-black dark:text-white tracking-widest z-30"
      >
        {{ actualRoute }}
      </span>

        <span (click)="nextPage()" class="material-symbols-outlined">
          skip_next
          </span>
  </div>
</div>
