<div>
  <div
    class="w-full h-full flex flex-row justify-center items-center p-12 gap-5"
  >
    <div class="w-full h-full flex justify-center items-center">
      <img class=" w-full h-full" [src]="developer" alt="Developer Senior" />
    </div>
    <div class="w-full h-full flex flex-col bg-white p-5">
      <mat-form-field class="mt-6" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          [type]="hide ? 'password' : 'text'"
          matInput
          placeholder="Digite"
        />
        <mat-icon (click)="toggleVisibility()" matSuffix>{{
          hide ? "visibility_off" : "visibility" 
        }}</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      <mat-form-field class="mt-6" appearance="outline">
        <mat-label>Senha</mat-label>
        <input
          [type]="hide ? 'password' : 'text'"
          matInput
          placeholder="Digite"
        />
        <mat-icon (click)="toggleVisibility()" matSuffix>{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
    </div>
  </div>
</div>
