/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Para evitar scrollbars */
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  @apply w-3 bg-slate-50;
}

::-webkit-scrollbar-thumb {
  @apply w-3 bg-slate-200 rounded-md;
}

/*Essa classe resolve o conflito do tailwind com o material, remove o traço no input causado pelo matlabel =>*/
.mdc-notched-outline__notch {
  border-right: none;
}

/* Renderiza componentes lentamente ==> */
.show-slowly {
  opacity: 0; /* Começa com opacidade 0 */
  transition: opacity 3s ease; /* Adiciona uma transição de opacidade */
}

.show-slowly.show {
  opacity: 1; /* Quando a classe 'show' é adicionada, a opacidade é 1 */
}

.show-slowly.hide {
  opacity: 0;
  transition: opacity 3s ease;
}



main {

  @apply mt-20;


}



